$item-height: 40px;

.menu-items {
  display: flex;
  width: 100%;
  height: $item-height;
}

.d-header {
  margin-top: $item-height;
  .docked & {
    margin-top: 0;
  }
}

.menu-item-container {
  overflow-x: scroll;
  height: 100vh;
}

.menu-placeholder {
  height: $item-height;
  position: relative;
  width: 100%;
}

.vdo {
  display: none;
}
