$item-height: 40px;

.menu-item-container {
  overflow-x: scroll;
  height: 100vh;
  pointer-events: none;

  .menu-items {
    display: flex;
    width: 100%;
    height: $item-height;
    pointer-events: auto;
  }
}

.menu-placeholder {
  height: $item-height;
  position: relative;
  width: 100%;
}

.top-menu {
  .menu-item.vdo {
    display: none;
  }
}
