@import "common/foundation/variables";

.top-menu {
  .wrap > a {
    font-size: $font-0;
    padding: 10px 8px;
  }
}

.top-menu .wrap > a:first-of-type {
  margin-left: -10px;

  .rtl & {
    margin-right: -10px;
  }
}

.vdo {
  display: none;
}

.top-menu .wrap {
  overflow-x: scroll;
  > a {
    white-space: nowrap;
  }
}

// handles last menu item dropdown position
.top-menu .wrap > div:last-of-type {
  left: unset !important;
  right: 0 !important;
  .rtl & {
    left: 0 !important;
    right: unset !important;
  }
}
