$item-height: 40px;

@if $Fixed_mode == "true" {
  .d-top-menu {
    position: fixed;
    top: 0;
    z-index: z("header") + 1;

    &__item.vmo {
      //changing vdo classname is out of scope, but would ideally be a modifier so -vmo
      display: none;
    }
  }

  .d-header-wrap {
    top: $item-height;
  }

  #main-outlet {
    padding-top: calc(1.8em + #{$item-height});
  }
}
